@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Rota';
  src: url('/fonts/Rota-Medium.woff') format('woff'),
    url('/fonts/Rota-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Rota';
  src: url('/fonts/Rota-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gangster Grotesk';
  src: url('/fonts/gangstergrotesk-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  body {
    position: relative;
    @apply overflow-x-hidden;
  }
}

html {
  scroll-behavior: smooth;
}
